<div class="container">
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Name:</strong>
    <%= @list.name %>
  </p>
  <%= content_tag :div, class: :row, data: {controller: "draggable"} do%>
    <% @list.columns.each do |column| %>
      <div class="col">
        <div class="card">
          <div class="card-title">
            <%= column.name %>
          </div>
          <div class="card-body">
            <%= content_tag :ul, class: "card-text dropzone", data: {target: "draggable.column"} do %>
              <%= render column.items, list: @list, column: column %>
            <% end %>
          </div>
          <%= link_to "new item", [:new, @list, column, :item]  %>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= link_to "new column", [:new, @list, :column]  %>
  <%= link_to 'Edit', edit_list_path(@list) %> |
  <%= link_to 'Back', lists_path %>
</div>