<tr>
  <td>
    <%= f.input_field :_destroy, as: :hidden %>
    <%= link_to "delete", "#", class: "remove_record"  %>
  </td>
  <td><%= f.input :name, label: false %></td>
  <td><%= f.input :completed, label: false  %></td>
  <td><%= f.input :due, as: :string, label: false  %></td>
</tr>