<p id="notice"><%= notice %></p>

<p>
  <strong>List:</strong>
  <%= @column.list_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @column.name %>
</p>

<%= link_to 'Edit', edit_column_path(@column) %> |
<%= link_to 'Back', columns_path %>
