<h1>Home Page</h1>
<% if user_signed_in? %>
  <%= current_user.company.name %>
<% end %>
<%= form_with model: Comment.new, local: true do |f|%>
  <div class="field">
    <%= f.text_area :content   %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% @comments.each do |comment| %>
  <div class="comment">
    <%= comment.content %>
    <%= link_to "delete", comment_path(comment),  method: :delete, data: {confirm: "Are you sure?"}  %>
  </div>
<% end %>